TELEGRAM_BOT_TOKEN=<YOUR_TELEGRAM_BOT_TOKEN>
ADMINS_IDS=<ADMIN1_TG_ID>,<ADMIN2_TG_ID>

DB_PATH=users.sqlite
DB_BACKUP_PATH=users_backup.sqlite
MIGRATION=false

ASSETS_DIR=/data/assets

CIVIL_WAR_COOLDOWN_HOURS=1
STATS_COOLDOWN_HOURS=3

CIVIL_WAR_SUCCESS_CHANCE=0.0666
CIVIL_WAR_RARE_SUCCESS_CHANCE=0.00666
CIVIL_WAR_RARE_LOSS_CHANCE=0.0133
CIVIL_WAR_MAFIA_EVENT_CHANCE=0.0888
CIVIL_WAR_RAT_EVENT_CHANCE=0.015

RARE_CIVIL_WAR_CAPTION_TEMPLATE="налудил себе +10 винов"
RARE_FAIL_CIVIL_WAR_CAPTION_TEMPLATE="словил редкое поражение: -1 вин"
RAT_CIVIL_WAR_CAPTION_TEMPLATE="забрал крысиный банк: +{points} винов"
RAT_BANK_PASS_INCREMENT=2
RAT_INVESTOR_DIVIDEND_RATE=0.25
RAT_INVESTOR_DIVIDEND_MIN=1
RAT_INVESTOR_DIVIDEND_MAX=3
RAT_INVESTOR_CAPTION_TEMPLATE="{username} инвестировал в крысиный банк. Деньги должны работать, аутяги должны инвестировать. Банк: +{points} винов"
RAT_DIVIDEND_CAPTION_TEMPLATE="Деньги должны работать, аутяги должны получать дивиденды: {investors} получили по +{dividend} винов"
RAT_STEAL_STATS_CAPTION_TEMPLATE="{taker} скрысил банк на +{points} винов. Аутяги нахастлили {hustled}, но крыса все испортила"
